*.[oa]
*.lo
*.la
Makefile.in
Makefile
.deps
.libs
*.sw[po]
*enum-types*
*.tar.*
*.orig
*.rej
*.bak
*~
*.pyc
*.loT

aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

src/ssh-contact
src/ssh-contact-service
src/org.freedesktop.Telepathy.Client.SSHContact.service
